{% capture collection_handle %}{{ product-loop | handleize }}{% endcapture %}
{% capture url %}{% if collection_handle != "" %}/collections/{{ product-loop }}{{ product.url }}{% else %}{{ product.url }}{% endif %}{% endcapture %}

<div class="views-row product"><div>

    {% if product.price_min < product.compare_at_price_min %}
        <span class="circle sale">{{ 'products.product.sale' | t }}</span>
    {% endif %}

    <div class="views-field-field-image">
        <a href="{{ url }}">          
            <img src="{% if product.images.size >= 1%}{{ product.featured_image | product_img_url: 'medium' }}{% else %}{{ 'No_Image_2.png' | asset_url }}{% endif %}" alt="{{ product.title | escape  }}" />
        </a>
    </div>

    <div class="views-field-field-price">
        {% assign price = product.price | money %}
        {% if product.available %}
            {% if product.compare_at_price_max > product.price %}
                <del>{{ product.compare_at_price | money }}</del>
            {% endif %}
            {% if product.price_varies %}{{ 'collections.product_item.from_text_html' | t: price: price }}{% else %}{{ price }}{% endif %}
        {% else %}
            {% if product.price_varies %}{{ 'collections.product_item.from_text_html' | t: price: price }}{% else %}{{ price }}{% endif %}{{ 'products.product.sold_out_html' | t }}
        {% endif %}
    </div>

    <div class="views-field-title">
        <a href="{{ url }}">{{ product.title }}</a>
    </div>
    
</div></div>
